<div
    style="display: flex;flex-direction: row;flex-wrap: wrap;width: 100%;align-items: flex-start;justify-content: flex-start;">
    <span>{{label}}</span><span ngIf={{isNecessary}} style="text-decoration: red;">*</span>
    <div
        style="display: flex;flex-direction: column;flex-wrap: nowrap;width: 100%;align-items: flex-start;justify-content: flex-start;">
        <input id={{id}} type="number" required={{isNecessary}} min={{minValue}}>
        <span ngIf={{description!==undefined}}}>{{description}}</span>
    </div>
</div>